
.slideshow{
    height:60vh;
    width: 100%;
    // background-color: red;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  z-index: -1;
  overflow: hidden;
}
  
  /* Slideshow container */
  .slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
   
  }
  
//   .active {
//     background-color: #717171;
//   }
  
 