.mapcont{
    height: 80vh;
    width: 100%;
    background-color: brown;
    
}
    .testing{
        color:rgb(31, 241, 24);

    border-left: 20px solid transparent;
    border-top-left-radius: 20px;
    border-right: 20px solid transparent;
    border-top-right-radius: 20px;
    border-top: 50px solid #f00;

            // padding: 15px 10px;
            // display: inline-flex;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            // border-radius: 100%;
            transform: translate(-50%, -50%);
    }